<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>¡Ahora o nunca! Trabajemos juntos</h1>
                <p>
                    Daré mi mejor esfuerzo para aprender y aportar valor al proyecto para que podamos tener una fructífera relación. <br>
                </p>
            </div>
            <div id="contacto" class="right padded">
                <form action="{{ url_for('portfolio.mail') }}" class="contact-form" method="post">
                    <input type="text" name="name" placeholder="Nombre" required>
                    <input type="email" name="email" placeholder="Correo" required>
                    <textarea placeholder="Mensaje" name="message" required minlength="10"></textarea>
                    <button class="btn full-width" >Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>