
    <div id="portafolio" class="center padded white-bg">
        <div class="content padded">
            <div class="padded">
                <h1><em>¿Aún no te sientes convencido? Mira lo que he construido!</em></h1>
            </div>
            <div class="row">
                <div class="project">
                    <img src="../../static/projects/project-1.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../../static/projects/project-2.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../../static/projects/project-3.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="project">
                    <img src="../../static/projects/project-4.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../../static/projects/project-5.jpg" alt="">
                </div>
                <div class="project">
                    <img src="../../static/projects/project-6.jpg" alt="">
                </div>
            </div>
            <button class="project-hide-btn">X</button>
        </div>
    </div>
        




<img src="../../static/projects/project-1-big.jpg" style="display: none;">
<img src="../../static/projects/project-2-big.jpg" style="display: none;">
<img src="../../static/projects/project-3-big.jpg" style="display: none;">
<img src="../../static/projects/project-4-big.jpg" style="display: none;">
<img src="../../static/projects/project-5-big.jpg" style="display: none;">
<img src="../../static/projects/project-6-big.jpg" style="display: none;">
<!-- <div class="card third">
    <h3>Gestor de tareas</h3>
    <p>Una aplicación de escritorio dinámica escrita en Python más la implementación de bases de datos relacionales.</p>
    <a href="#" class="orange">Link aquí</a>
</div> -->