<div id="about" class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1 id="about"><em>Sobre Mí</em></h1>
            </div>
            <div class="right padded">
                <p>
                    Mi nombre es Vicente Antonio Gámez Díaz, soy originario de México, de San Luis Potosí. 🇲🇽🧑<br> 
                    Hasta el momento no he tenido la oportunidad de tener un empleo como desarrollador, sin embargo, constantemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones, 
                    buscando mejorar mis habilidades en Python, JavaScript, HTML, CSS y MySql. 📓 <br> Esta web la construí desde cero utilizando Python 🐍 y Flask, después de haber realizado un par de proyectos
                    que estoy ansioso de compartir contigo en mi sección de <a href="#portafolio" class="orange">portafolio.</a> 👜<br>
                    Te recuerdo que estoy a tus ordenes y que estoy muy emocionado y ansioso por conocer más de este mundo tecnológico. Así que:
                </p>
                <h1><strong>¡Podemos conversar de lo que quieras!</strong></h1>
                <p>Solo enviame un correo haciendo click <a class="orange" href="#contacto">aquí</a>. 📥</p>
            </div>
        </div>
    </div>
</div>